{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block page_content %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Login</h4>
           </div>
	        <div class="modal-body">
		        <form action="{% url 'login' %}" method="post">
					{{form|crispy }}
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ next }}">
					<div class="form-group">
						<p><input type="submit" value="Login"> | <a href="{% url 'password_reset' %}">Forgotten your password?</a></p>	
					</div>	
				</form>
			</div>
	        <div class="modal-footer">
				<p class="text-center">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </div>    
    </div>    
{% endblock %}
