{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Form- iCampus{% endblock %}

{% block page_content %}

    <div class="modal-dialog" role="document" style="margin-top: -35px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Reset 
                your Password</h4>
            </div>
	        <div class="modal-body">
	        	{% if validlink %}
		        <p class="text-center">Please enter your new password twice:</p>
		        <form action="." method="post">
					{{form|crispy }}
					{% csrf_token %}
					<p><input type="submit" value="Update"></p>	
				</form>
				{% else %}
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
			</div>
	        <div class="modal-footer">
            </div>
        </div>    
    </div>	
{% endblock %}