{% extends 'account/base.html' %}

{% block title %}Password Changed Successfully- iCampus{% endblock %}

{% block page_content %}
    <div class="modal-dialog" role="document" style="margin-top: -35px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Password Changed Successfully</h4>
            </div>
	        <div class="modal-body">
		        <p class="text-center">Your password has been successfully changed.</p>
		        <div class="text-center">
					<button class="btn btn-default"><a href="{% url 'dashboard' %}">My Dashboard</a></button>
				</div>
			</div>
	        <div class="modal-footer">
            </div>
        </div>    
    </div>	
{% endblock %}
