{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Form- iCampus{% endblock %}

{% block page_content %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Forgotten Your Password?</h4>
            </div>
	        <div class="modal-body">
	        	<p>Enter your e-mail address to reset your password.</p>
		        <form action="." method="post">
					{{form|crispy }}
					<p><input type="submit" value="Send"></p>
					{% csrf_token %}		
				</form>
			</div>
	        <div class="modal-footer">
            </div>
        </div>    
    </div>
	
{% endblock %}