{% extends 'base.html' %}
{% load static %}

{% block title %}Home - iCampus{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<ul class="list-group" id="category-list">
				<li class="list-group-item disabled">Categories</li>
				<li class="list-group-item selected">
					<a href="{% url "careers:all_careers" %}">All</a>
				</li>
				{% for c in categories %}
					<li class="list-group-item">
						<a href="{{ c.get_absolute_url }}">{{ c.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div id="career-list">
				{% include "careers/list_ajax.html" %}
			</div>
		</div>
	</div>	
{% endblock %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
		    block_request = true;
		    page += 1;
		    $.get('?page=' + page, function(data) {
		        if(data == '')
		        {
		            empty_page = true;
		        }
		        else {
                    block_request = false;
                    $('#career-list').append(data);
    	        }
            });
    	}
    });
{% endblock %}

