{% extends 'base.html' %}
{% load static %}

{% block title %}Home - iCampus{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<ul class="list-group" id="category-list">
				<li class="list-group-item disabled">Categories</li>
				<li class="list-group-item selected">
					<a href="{% url "careers:all_careers" %}">All</a>
				</li>
				{% for c in categories %}
					<li class="list-group-item">
						<a href="{{ c.get_absolute_url }}">{{ c.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			        	{% if category %}{{ category.name }}{% else %}Careers{% endif %}</h1>
			        </h3>
			    </div>
			    <div class="panel-body">
			    	<ul class="media-list">
						{% for career in careers %}
						<li class="media">
							<div class="media-left">
							    <a href="{{ career.get_absolute_url }}">
									<img class="img-resposive cat-images" src="{% if career.image %}{{ career.image.url }}{% else %}{% static 'images/no_image.png'%}{% endif %}">
								</a>
							</div>
							<div class="media-body">
						        <h4 class="media-heading"><a href="{{ career.get_absolute_url }}">{{ career.name }}</a></h4>
						        <p>{{ career.summary|truncatewords:20|linebreaks }}<a class="btn btn-primary pull-right" href="{{ career.get_absolute_url }}">Read More</a></p>
						    </div>	
						</li><hr>
				        {% endfor %}
			        </ul>
			    </div>
			</div>
		</div>
	</div>	
{% endblock %}

