{% load static %}

{% for career in careers %}
	<div class="panel panel-default post-panel">

	    <div class="panel-body">
	    	
	        
			<div class="media">
			    <div class="media-left">
				    <a href="{{ career.get_absolute_url }}">
				    	<img class="img-responsive cat-images" src="{% if career.image %}{{ career.image.url }}{% else %}{% static 'images/no_image.png'%}{% endif %}">
				    </a>
			    </div>
			    <div class="media-body">
			        <h4 class="media-heading"><a href="{{ career.get_absolute_url }}">{{ career.name }}</a></h4>
			        <p>{{ career.summary|truncatewords:20|linebreaks }}</p>
			        <p><a class="btn btn-primary pull-right" href="{{ career.get_absolute_url }}">Read More</a></p>
			    </div>
			</div>
			
	    </div>
	</div>
{% endfor %}