{% extends 'base.html' %}
{% load static %}

{% block title %}Home - iCampus{% endblock %}

{% block page_content %}
	<div class="row">
		<div id="sidebar" class="col-xs-12 col-sm-3" style="overflow: hidden;">
			<ul class="list-group" id="category-list">
				<li class="list-group-item disabled"><strong>Categories</strong></li>
				<div class="list-body">
					<li {% if not category %} id="cat-selected"{% endif %} class="list-group-item">
						<a href="{% url "careers:all_careers" %}"><i class="glyphicon glyphicon-play"></i>All</a>
					</li>
					{% for c in categories %}
						<li {% if category.slug == c.slug %} id="cat-selected"{% endif %} class="list-group-item">
							<a href="{{ c.get_absolute_url }}"><i class="glyphicon glyphicon-play"></i>{{ c.name}}</a>
						</li>
					{% endfor %}
				</div>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default post-panel">
			    <div class="panel-body">
			    	<strong>{% if category %}{{ category.name }} Career Options{% else %}All Careers{% endif %} &raquo;</strong>
			    </div>
			</div>
			<div id="career-list">
				{% include "careers/list_ajax.html" %}
			</div>
		</div>
	</div>	
{% endblock %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
		    block_request = true;
		    page += 1;
		    $.get('?page=' + page, function(data) {
		        if(data == '')
		        {
		            empty_page = true;
		        }
		        else {
                    block_request = false;
                    $('#career-list').append(data);
    	        }
            });
    	}
    });
{% endblock %}

