{% load static %}

{% for user in user.following.all %}
    {% if user != request.user %}
        <div class="panel panel-default post-panel panel-margin-20">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" height="50px" width="50px" src="{% static 'images/banner.jpg'%}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="{{ user.get_absolute_url }}" class="title">{{ user.get_full_name | capfirst }}</a></h4>
                        {% with total_following=user.following.count %}
                            <span class="">
                                <span class="">{{ total_following }}</span>
                                Peer{{ total_following|pluralize }}
                            </span>
                          {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

