{% extends "base.html" %}
{% load static %}


{% block title %}Users - iCampus{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div id="users-list">
            {% include "account/user/list_ajax.html" %}
        </div>      
        <div class="panel panel-default post-panel">
            <div class="panel-body row">
                <div class="col-sm-12">
                    <center><img src="{% static 'images/icon.png'%}" height="25px" width="25px"></img>
                      <a href="#top"><p class="opacity: .7;">Back to top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p style="opacity: 0.5; font-size: 90%;">© 2016 iCampus</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
            block_request = true;
            page += 1;
            $.get('?page=' + page, function(data) {
                if(data == '')
                {
                    empty_page = true;
                }
                else {
                    block_request = false;
                    $('#users-list').append(data);
                }
            });
        }
    });
{% endblock %}
  
