{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        
    </head>

    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">iCampus</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {% if section == "home" %}class="selected"{% endif %}><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>      
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                        <li {% if section == "dashboard" %}class="selected"{% endif %}><a href="{% url "dashboard" %}">Dashboard</a></li>
                        <li {% if section == "users" %}class="selected"{% endif %}><a href="{% url "user_list" %}">Find Peers</a></li>  
                        <li {% if section == "user" %}class="selected"{% endif %}>
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                  <a href="{{ request.user.get_absolute_url }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle" aria-hidden="true"></i> {{ request.user.username|capfirst }}</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ request.user.get_absolute_url }}">My Profile<i class="fa fa-user-circle pull-right" aria-hidden="true"></i></a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url "edit" %}">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">My Courses<span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">My Progress <span class="badge pull-right"> 42 </span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url "logout" %}">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                                  </ul>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{% url "login" %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a></li>
                        <li><a href="{% url "register" %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a></li>
                        {% endif %}
                  </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    
    {% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    <!-- Javascript files -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-tabcollapse.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".comment-reply-btn").click(function(event){
                    event.preventDefault();
                $(this).parent().next(".comment-reply").fadeToggle();
            });
        });
    </script>
    <script type="text/javascript">
        $('#myTab').tabCollapse();
    </script>
    <script>
      $( function() {
        $( "#navtabs" ).tabs();
      } );
    </script>
    <script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).ready(function(){
            {% block domready %}
            {% endblock %}
        });
    </script>
    </body>
</html>
